// fonts
$font-main: 'Roboto', sans-serif;

// colors

$colorbg: white;
$colorTitle: orangered;
$colorBorderCards: lightgray;
$colorStatus: grey;
$colorSelectedFavorite: papayawhip;
$colorOrange: orange;
