.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 30px;
}
.background-img {
  height: 300px;
  background-image: url(../images/background.jpg);
  opacity: 75%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: sticky;
}
.form {
  position: absolute;
  margin-left: 130px;
  border-radius: 0.2rem;
  top: 244px;

  padding: 8px;
  background-color: $colorbg;
  width: 80%;
  &_styleInput {
    margin-left: 20px;
    width: 85%;
    height: 30px;
    border: 2px solid $colorOrange;
    border-radius: 0.5rem;
  }
  &_btn {
    width: 10%;
    height: 40px;
    background-color: $colorOrange;
    border: none;
    color: $colorbg;
    border-radius: 0.5rem;
  }
}
